<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%} Login {% endblock %}
      </title>
    
    
    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    
      <style>
        #regis {
          text-align: center;
          padding-left: 15%;
        }
    
        #Tregis {
    
          padding-right: 22%;
        }
    
        #but {
          margin-top: 10%;
          margin-right: 25%;
        }
    </style>
</head>
<body>
    <a class="navbar-brand" href="inicio">Menu Principal</a>
  </nav>
  <br><br><br><br><br><br><br><br>
  {% block content %}


  <form action="loginData" method="POST">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="mb-3">
          <label for="us" class="form-label">Usuario</label>
          <input type="text" class="form-control" name="usuario" required>
          <br>
          <label for="pass" class="form-label">Contraseña</label>
          <input type="password" class="form-control" name="contraseña" requiered>
          <br>
          <br>

          <button type="submit" class="btn btn-primary" name="opcion" value="Ingresar">Ingresar</button>
        </div>
        <br><br><br><br><br><br>
        <div class="container" id="regis">

          <h4 id="Tregis">No tienes una cuenta?</h4>

          <button type="submit" class="btn btn-primary" name="opcion" value="Ingresar" id="but">Registrarse</button>


        </div>


      </div>
    </div>


  </form>

  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    
</body>
</html>